.container {
  text-align: center;
  background-color: #d3d3d3;
}

#demo {
  font-size: 12px;
  color: darkblue;
}

.btn-overlay {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.card {
  width: 800px;
  border: 5px solid black;
  border-radius: 10px;
}

.icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
